<div class="form--item">
  <label>What gender do you identify as?</label>
  <input type="text" name="gender">
</div>

<div class="form--item">
  <label>Which best describes your current role?</label>

  <select name="role">
    <option value="developer">Developer</option>
    <option value="designer">Designer</option>
    <option value="ui-ux">UI/UX</option>
    <option value="devops">DevOps Engineer</option>
    <option value="quality-assurance">QA/Tester</option>
    <option value="database">Database Administrator</option>
    <option value="info-tech">Helpdesk/IT Support</option>
    <option value="product-owner">Product Owner</option>
    <option value="business-analyst">Business Analyst</option>
    <option value="chief-officer">CEO/CTO/CFO/COO</option>
    <option value="marketing-sales-crm">Marketing/Sales/CRM</option>
    <option value="business-development">Business Development</option>
    <option value="other">Other</option>
  </select>
</div>

<div class="form--item">
  <label>Which best describes your level of professional experience?</label>
  <input type="radio" name="experience" value="under-one-year">< 1 year
  <input type="radio" name="experience" value="one-two-years">1-2 years
  <input type="radio" name="experience" value="three-five-years">3-5 years
  <input type="radio" name="experience" value="six-ten-years">6-10 years
  <input type="radio" name="experience" value="eleven-fifteen-years">11-15 years
  <input type="radio" name="experience" value="over-fifteen-years">> 15 years

</div>

<div class="form--item">
  <label>[Optional] If you would like to stay informed of the results of this survey, please enter your
    email. You will never receive any spam and your email will never be shared.</label>
  <input type="text" name="email">
</div>
