<div class="form--item">
  <label>Which term best describes your gender identity?</label>
  <div class="form--item__radio">
    <input type="radio" name="gender" value="female">Woman
  </div>
  <div class="form--item__radio">
    <input type="radio" name="gender" value="male">Man
  </div>
  <div class="form--item__radio">
    <input type="radio" name="gender" value="trans">Trans*
  </div>
  <div class="form--item__radio">
    <input type="radio" name="gender" value="non-binary">Non-binary
  </div>
  <div class="form--item__radio">
    <input type="radio" name="gender" value="complicated">It's complicated
  </div>
  <div class="form--item__radio">
    <input type="radio" name="gender" value="prefer-not">Prefer not to say
  </div>
  <div class="form--item__radio">
    <input type="radio" name="gender" value="placeholder" id="gender-option">
    <input id="gender-input" placeholder="Please specify">
  </div>
</div>

<div class="form--item">
  <label>Which best describes your current role?</label>

  <select name="role">
    <option value="developer">Developer</option>
    <option value="designer">Designer</option>
    <option value="ui-ux">UI/UX</option>
    <option value="devops">DevOps Engineer</option>
    <option value="quality-assurance">QA/Tester</option>
    <option value="database">Database Administrator</option>
    <option value="info-tech">Helpdesk/IT Support</option>
    <option value="product-owner">Product Owner</option>
    <option value="business-analyst">Business Analyst</option>
    <option value="chief-officer">CEO/CTO/CFO/COO</option>
    <option value="marketing-sales-crm">Marketing/Sales/CRM</option>
    <option value="business-development">Business Development</option>
    <option value="other">Other</option>
  </select>
</div>

<div class="form--item">
  <label>Which best describes your level of professional experience?</label>
  <div class="form--item__radio">
    <input type="radio" name="experience" value="under-one-year">< 1 year
  </div>
  <div class="form--item__radio">
    <input type="radio" name="experience" value="one-two-years">1-2 years
  </div>
  <div class="form--item__radio">
    <input type="radio" name="experience" value="three-five-years">3-5 years
  </div>
  <div class="form--item__radio">
    <input type="radio" name="experience" value="six-ten-years">6-10 years
  </div>
  <div class="form--item__radio">
    <input type="radio" name="experience" value="eleven-fifteen-years">11-15 years
  </div>
  <div class="form--item__radio">
    <input type="radio" name="experience" value="over-fifteen-years">> 15 years
  </div>
</div>

<div class="form--item">

  <label>[Optional] If you would like to stay informed of the results of this survey, please enter your
    email. You will never receive any spam and your email will never be shared.</label>
  <div class="form--item__radio">
    <input type="text" name="email">
  </div>
</div>
