<h1>Diversity Perception Survey</h1>
<p>
  Hello! Thanks for taking the time to answer this survey.
</p>
<p>
  Will you be taking the <a href="/start/long">long</a> version (estimated 15 minutes) or the <a
        href="/start/short">short</a> version (estimated 5 minutes)?
</p>