<!DOCTYPE HTML>
<html>
  <head>
    <link href="/stylesheets/styles.css" type="text/css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
  </head>
  <body>
    <main>
      {{{ body }}}
    </main>

    <script src="/js/main.js"></script>
  </body>
</html>
